@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*ENDS RESET*/
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  line-height: 1;
  color: #fff;
  background: #000;
  font-family: "Montserrat";
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
}

/*Header*/
header {
  width: 100%;
  text-align: center;
  padding: 2em 0;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 3px 0px white;
          box-shadow: 0px 0px 3px 0px white;
}

header ul li a {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 2em;
  font-size: 1.2em;
  padding: 0.8em;
  -webkit-transition: border 1s, color 0.5s, -webkit-box-shadow 0.8s;
  transition: border 1s, color 0.5s, -webkit-box-shadow 0.8s;
  transition: border 1s, color 0.5s, box-shadow 0.8s;
  transition: border 1s, color 0.5s, box-shadow 0.8s, -webkit-box-shadow 0.8s;
  border: solid 1px rgba(255, 255, 255, 0);
}

header ul li a:hover {
  border: solid 1px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 0px 5px 0px white;
          box-shadow: inset 0px 0px 5px 0px white;
}

/*Sticky Header*/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 3px 0px white;
          box-shadow: 0px 0px 3px 0px white;
}

section {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Home style*/
.home {
  color: whitesmoke;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("bg1.jpg") no-repeat center;
  background-size: cover;
  background-color: #34495e;
  background-attachment: fixed;
  z-index: 99;
}

.home h1 {
  font-size: 7em;
  text-transform: uppercase;
  text-shadow: 0 15px 20px #000;
  margin-bottom: 0.2em;
  visibility: hidden;
  font-weight: bold;
}

.home h5 {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
  text-align: center;
  padding: 1em 2em;
  margin: 1em 0 3em;
  display: inline-block;
  letter-spacing: 4px;
  border-radius: 5px;
  visibility: hidden;
}

.home::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Section title style*/
.section-title {
  text-align: center;
}

.section-title h2 {
  display: inline-block;
  font-size: 3em;
  letter-spacing: 3px;
  border-bottom: 1px solid;
  text-transform: uppercase;
  padding: 0 0 1em;
}

.section-title h3 {
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: 3px;
  border-bottom: 1px solid;
  text-transform: uppercase;
  padding: 0 0 0.5em;
}

.about {
  margin-top: 10em;
  padding-top: 10em;
}

.about-info {
  width: 80%;
  margin: 0 auto;
  padding: 3.5em 0;
  text-align: center;
  z-index: 99;
}

.about-info p {
  line-height: 28px;
  font-size: 1.4em;
}

.about-info .downloadBtn {
  display: inline-block;
  padding: 1.2em 2.5em;
  background: #ffffff10;
  border: 1px solid #ffffff30;
  border-radius: 50px;
  color: whitesmoke;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 3.5em;
  position: relative;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: color 0.8s, -webkit-transform 1s;
  transition: color 0.8s, -webkit-transform 1s;
  transition: color 0.8s, transform 1s;
  transition: color 0.8s, transform 1s, -webkit-transform 1s;
}

.about-info .downloadBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  z-index: -1;
  -webkit-transition: left 0.8s;
  transition: left 0.8s;
}

.about-info .downloadBtn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -60%;
  width: 60%;
  height: 100%;
  border-radius: 50px;
  background: #fff;
  z-index: -1;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.about-info .downloadBtn:hover {
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-info .downloadBtn:hover::after {
  left: 40%;
}

.about-info .downloadBtn:hover::before {
  right: 40%;
}

.about-info .timeline {
  padding-top: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-info .timeline .col {
  margin: 0.8em;
  padding: 1.8em 1em;
  border: 1px solid #ffffff30;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-info .timeline .col:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: solid 1px whitesmoke;
  -webkit-box-shadow: inset 0px 0px 45px 0px white;
          box-shadow: inset 0px 0px 45px 0px white;
}

.about-info .timeline .col span i {
  font-size: 4em;
}

.about-info .timeline h6 {
  margin: 1.2em 0 0;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 24px;
}

.service {
  width: 100%;
  margin: 8em auto;
  padding: 5em 0;
  text-align: center;
  z-index: 99;
}

.service .service-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4em;
}

.service .service-info .col {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 4em 3em;
  text-align: center;
}

.service .service-info .col i {
  font-size: 3.5em;
}

.service .service-info .col h3 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.service .service-info .col p {
  line-height: 28px;
}

.gallery {
  width: 90%;
  margin: 5em auto;
  padding: 3.5em 0;
  z-index: 99;
}

.gallery .gallery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4em 0;
}

.gallery .gallery-info .col {
  float: left;
  width: 30%;
  margin: 6% 1%;
  text-align: center;
}

.gallery .gallery-info .col a {
  position: relative;
  z-index: 99;
  margin: 0 1em;
}

.gallery .gallery-info .col a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gallery .gallery-info .col a:hover .desc {
  left: 0;
  opacity: 1;
}

.gallery .gallery-info .col img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  max-width: 300px;
  max-height: 600px;
}

.gallery .gallery-info .col .desc {
  opacity: 0;
  padding: 1em 0;
  -webkit-transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: absolute;
  top: 30%;
  left: -100%;
  z-index: 999;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
}

.contact {
  width: 60%;
  height: 80%;
  margin: 0 auto;
  padding: 4em 0;
  z-index: 99;
}

.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em 0;
}

.contact .contact-info .textField {
  width: 100%;
  height: 50px;
  border: 1px solid whitesmoke;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  padding: 0.7em;
  margin-bottom: 1.2em;
  font-family: Montserrat;
  color: whitesmoke;
  font-size: 1.2em;
}

.contact .contact-info .textField:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 0px white;
          box-shadow: 0px 0px 10px 0px white;
}

.contact .contact-info .messageField {
  height: 200px;
}

.contact .contact-info .submitButton {
  color: #000;
  height: 50px;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  -webkit-transition: color, 0.5s;
  transition: color, 0.5s;
}

.contact .contact-info .submitButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 60%;
  height: 100%;
  background: #fff;
  z-index: -1;
  -webkit-transition: left 0.8s;
  transition: left 0.8s;
}

.contact .contact-info .submitButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 60%;
  height: 100%;
  background: #fff;
  z-index: -1;
  -webkit-transition: right 0.8s;
  transition: right 0.8s;
}

.contact .contact-info .submitButton:hover {
  color: #fff;
}

.contact .contact-info .submitButton:hover::after {
  left: -60%;
}

.contact .contact-info .submitButton:hover::before {
  right: -60%;
}

.visible {
  visibility: visible !important;
}

.txt {
  border-right: 0.05em solid #777;
  margin: 0;
  padding: 0;
}

@media (max-width: 769px) {
  .service .service-info {
    margin: 0.5em;
  }
}

@media (max-width: 1001px) {
  header {
    display: none;
  }
  .navMobile {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    padding: 0.8em;
    z-index: 999;
    font-size: 2em;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 1000px) {
  .navMobile {
    display: none;
  }
}

.nav {
  text-align: center;
  width: 0%;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
  z-index: 9999;
}

.nav a {
  padding: 2em 0;
  color: whitesmoke;
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  clear: left;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.close {
  float: left;
  font-size: 3em !important;
  padding: 0.7em !important;
}

.scrollDown {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-80px) translateX(-50%) rotate(45deg);
          transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrollDown span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrollDown span:nth-child(1) {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.scrollDown span:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.scrollDown span:nth-child(3) {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

/*MEDIA QUERY*/
@media (max-width: 1504px) {
  #about {
    margin: 20em auto;
  }
  #gallery {
    margin-top: 10em;
  }
}

@media (max-width: 1120px) {
  .gallery .gallery-info .col {
    width: 40%;
    margin: 1.5em;
  }
}

@media (max-width: 757px) {
  .gallery .gallery-info .col .desc {
    width: 300px;
    height: 20px;
  }
}

@media (max-width: 900px) {
  #learning {
    margin-top: 35em;
  }
  #about {
    margin: 25em auto;
  }
  .home h1 {
    font-size: 5em;
  }
  .section-title h3 {
    font-size: 1em;
  }
  .gallery .gallery-info .col {
    width: 50%;
    margin: 1.5em;
  }
  .about-info .timeline .col {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 490px) {
  .section-title h3 {
    font-size: 0.8em;
    width: 80%;
    line-height: 2;
  }
  .col h3 {
    font-size: 1em;
  }
  #gallery {
    margin-top: 40em;
  }
  #about {
    margin-top: 65em;
  }
  .home h1 {
    font-size: 2.5em;
  }
  .home h5 {
    font-size: 1em;
  }
  #learning {
    padding-top: 25em;
    margin-top: 80em;
  }
  .section-title h2 {
    font-size: 1.5em;
  }
  .about-info .timeline .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .gallery .gallery-info .col {
    width: 100%;
  }
  .contact {
    margin-bottom: 5em;
  }
}

@media (max-width: 350px) {
  #about {
    margin: 70em auto;
  }
  #learning {
    padding-top: 45em;
  }
  #gallery {
    margin: 35em auto;
  }
}
/*# sourceMappingURL=style.css.map */